[Unit]
Description=Cake Smart Queue Management
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

# tc requires deep kernel netlink access and cannot run with this sandbox restriction.
ProtectKernelTunables=no

# Clear any existing qdiscs to prevent nesting errors.
ExecStartPre=-/usr/sbin/tc qdisc del dev {{ interfaces.wan.dev }} root

# Apply egress Cake shaping on the WAN interface.
ExecStart=/usr/sbin/tc qdisc add dev {{ interfaces.wan.dev }} root cake bandwidth {{ infra_services.sqm.bandwidth_up }} nat

# Tear down on stop.
ExecStop=-/usr/sbin/tc qdisc del dev {{ interfaces.wan.dev }} root

[Install]
WantedBy=multi-user.target
