server:
    interface: 127.0.0.1
    port: 5335
    access-control: 127.0.0.0/8 allow
    do-ip4: yes
    do-udp: yes
    do-tcp: yes

    chroot: {{ infra_services.dns.unbound.chroot }}
    do-not-query-localhost: {{ infra_services.dns.unbound.do_not_query_localhost }}
