server:
    interface: 127.0.0.1
    port: 5335
    access-control: 127.0.0.0/8 allow
    do-ip4: yes
    do-udp: yes
    do-tcp: yes

    chroot: {{ unbound_chroot | default('""') }}
    do-not-query-localhost: {{ unbound_do_not_query_localhost | default('no') }}
