flush ruleset

# Define network variables
define VAULT_NET = {{ networks['vlan-64'].cidr }}
define SANDBOX_NET = 10.32.0.0/24
define HEADSCALE_NET = 100.64.0.0/24
define BREAKGLASS_VPN_NET = 100.64.1.0/24
define CADDY_IP = 10.64.0.4

table inet filter {
    chain input {
        type filter hook input priority filter; policy drop;
        
        # Allow internal loopback
        iifname "lo" accept
        
        # Allow returning internet traffic
        ct state established,related accept
        
        # Allow SSH from LAN and VPN networks
        iifname "{{ hardware.interfaces.lan.name }}" tcp dport 22 accept
        iifname "wg0" tcp dport 22 accept
        
        # Allow DNS and DHCP from LAN
        iifname "{{ hardware.interfaces.lan.name }}" udp dport { 53, 67 } accept
        iifname "{{ hardware.interfaces.lan.name }}" tcp dport 53 accept
        
        # Allow mDNS (port 5353) from Vault and Sandbox networks
        ip saddr { $VAULT_NET, $SANDBOX_NET } udp dport 5353 accept
        
        # Allow ICMP (Ping)
        ip protocol icmp accept
        
        # Allow incoming VPN handshake on WAN
        iifname "{{ hardware.interfaces.wan.name }}" udp dport {{ host_services.vpn.port | default(51820) }} accept
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        
        # Allow returning internet traffic
        ct state established,related accept
        
        # Allow Vault network to route to WAN
        ip saddr $VAULT_NET oifname "{{ hardware.interfaces.wan.name }}" accept
        
        # Allow Sandbox to route to WAN but DROP traffic to private networks
        ip saddr $SANDBOX_NET ip daddr { 10.0.0.0/8, 100.64.0.0/10 } drop
        ip saddr $SANDBOX_NET oifname "{{ hardware.interfaces.wan.name }}" accept
        
        # Allow Headscale mesh traffic
        ip saddr $HEADSCALE_NET ip daddr $VAULT_NET accept
        ip saddr $VAULT_NET ip daddr $HEADSCALE_NET accept
        
        # Allow Breakglass VPN to access Vault network
        ip saddr $BREAKGLASS_VPN_NET ip daddr $VAULT_NET accept
        ip saddr $VAULT_NET ip daddr $BREAKGLASS_VPN_NET accept
        
        # Allow VPN clients (wg0) to route traffic into networks
        iifname "wg0" oifname "{{ hardware.interfaces.lan.name }}" accept
        
        # Allow mDNS forwarding between Vault and Sandbox
        ip saddr { $VAULT_NET, $SANDBOX_NET } ip daddr { $VAULT_NET, $SANDBOX_NET } udp dport 5353 accept
    }
}

table ip nat {
    chain prerouting {
        type nat hook prerouting priority dstnat; policy accept;
        
        # Forward HTTP/HTTPS traffic from WAN to Caddy reverse proxy
        iifname "{{ hardware.interfaces.wan.name }}" tcp dport { 80, 443 } dnat to $CADDY_IP
    }
    
    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
        
        # Masquerade (NAT) all traffic leaving the WAN port
        oifname "{{ hardware.interfaces.wan.name }}" masquerade
    }
}
