flush ruleset

table inet filter {
    chain input {
        type filter hook input priority filter; policy drop;
        
        # Allow internal loopback
        iifname "lo" accept
        
        # Allow returning internet traffic
        ct state established,related accept
        
        # Allow SSH from LAN
        iifname "{{ hardware.interfaces.lan.name }}" tcp dport 22 accept
        
        # Allow DNS and DHCP from LAN
        iifname "{{ hardware.interfaces.lan.name }}" udp dport { 53, 67 } accept
        iifname "{{ hardware.interfaces.lan.name }}" tcp dport 53 accept
        
        # Allow ICMP (Ping)
        ip protocol icmp accept
        
        # Allow incoming VPN handshake on WAN
        iifname "{{ hardware.interfaces.wan.name }}" udp dport {{ host_services.vpn.port | default(51820) }} accept
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        
        # Allow returning internet traffic
        ct state established,related accept
        
        # Allow LAN ({{ hardware.interfaces.lan.name }}) to route out to WAN ({{ hardware.interfaces.wan.name }})
        iifname "{{ hardware.interfaces.lan.name }}" oifname "{{ hardware.interfaces.wan.name }}" accept
        
        # Allow VPN clients (wg0) to route traffic into the LAN
        iifname "wg0" oifname "{{ hardware.interfaces.lan.name }}" accept

        # Allow SSH from VPN
        iifname "wg0" tcp dport 22 accept
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
        
        # Masquerade (NAT) all traffic leaving the WAN port
        oifname "{{ hardware.interfaces.wan.name }}" masquerade
    }
}
