{
"Dhcp4": {
    "interfaces-config": {
        "interfaces": [ "{{ iface_lan }}" ]
    },
    "lease-database": {
        "type": "memfile",
        "persist": true,
        "name": "/var/lib/kea/kea-leases4.csv"
    },
    "valid-lifetime": 4000,
    "subnet4": [
        {
            "subnet": "{{ dhcp_subnet }}",
            "pools": [ { "pool": "{{ dhcp_range_start }} - {{ dhcp_range_end }}" } ],
            "option-data": [
                {
                    "name": "routers",
                    "data": "{{ iface_lan_ip.split('/')[0] }}"
                },
                {
                    "name": "domain-name-servers",
                    "data": "{{ dhcp_dns_server }}"
                },
                {
                    "name": "domain-name",
                    "data": "{{ domain_local }}"
                }
            ],
            "reservations": [
                {% for lease in static_leases %}
                {
                    "hw-address": "{{ lease.mac }}",
                    "ip-address": "{{ lease.ip }}",
                    "hostname": "{{ lease.hostname }}"
                }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    ]
}
}
