flush ruleset

table inet global {
    chain inbound {
        type filter hook input priority 0; policy drop;
        ct state established,related accept
        iifname "lo" accept
        iifname "{{ iface_lan }}" accept
        iifname "{{ iface_wan }}" udp dport 68 udp sport 67 accept
        meta l4proto icmp accept
        meta l4proto ipv6-icmp accept
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
        ct state established,related accept
        ip saddr {{ dhcp_subnet }} iifname "{{ iface_lan }}" oifname "{{ iface_wan }}" accept
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority 100; policy accept;
        oifname "{{ iface_wan }}" masquerade
    }
}
