server:
    interface: 127.0.0.1
    interface: {{ iface_lan_ip.split('/')[0] }}
    access-control: 127.0.0.0/8 allow
    access-control: {{ dhcp_subnet }} allow
    port: 53
    do-ip4: yes
    do-udp: yes
    do-tcp: yes

    local-zone: "{{ domain_local }}." static
    {% for lease in static_leases %}
    local-data: "{{ lease.hostname }}.{{ domain_local }}. IN A {{ lease.ip }}"
    local-data-ptr: "{{ lease.ip }} {{ lease.hostname }}.{{ domain_local }}"
    {% endfor %}

forward-zone:
    name: "."
    forward-addr: 127.0.0.1@54
