api_url: http://127.0.0.1:8080
api_key: {{ vault_crowdsec_bouncer_api_key }}
mode: nftables
piddir: /var/run/
log_media: file
log_dir: /var/log/
deny_action: DROP
deny_log: true
deny_log_prefix: "crowdsec: "
blacklists_ipv4: crowdsec-blacklists
blacklists_ipv6:
  - ::1/128
